@import url('https://fonts.googleapis.com/css?family=Dosis:600,800');
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

body {
  font-family: 'Dosis', sans-serif;
  font-size: 200%;
  color:white;
}

a {
  color: #fff;
}

.navbar {
  background-color: #297fb8;
  border-bottom: 1px solid #5398c6;
  padding: 1% 0;
  margin-bottom: 0px;
}

.navbar-brand {
  min-height: 55px;
  padding: 0 15px 5px;
}

.navbar-nav li {
  padding-right: 20px;
}

.navbar-inverse .navbar-nav li a {
  color: #fff;
}


.navbar-inverse .navbar-nav li a:hover {
  background-color: #5398c6;
}

.navbar-header {
  padding-bottom: 5px;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
  border-color: #5398c6;
}

.navbar-inverse .navbar-toggle {
  border-color: #5398c6;
}

.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
  background-color: #5398c6;
}
#explore{
  display: flex;flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  background-image: url('../img/hikers.jpg');
  background-size: cover;
  min-height: 90vh;
  color:white;
  font-size: 400%;
  cursor:pointer;
}
.pane{
display: flex;flex-flow: row wrap;
font-size: 12vw;
position: absolute;
top: 0;
bottom: 0;
left: 0;
right: 0;
margin: auto;
color: white;
}
#explore h1:hover{
  transform: scale(1.2);
}
#explore a{
  color:white;

}
h1 {
  font-size: 300%;
  font-weight: 800;
  text-shadow: 2px 2px 2px #666;
  transition: transform 0.3s ease-out;
}
h2 {
  font-size: 210%;
}
h3 {
  font-size: 150%;
  max-width: 80%;
  margin: 0 auto;
}
p {
  font-size: 120%;
  padding: 6%;
}
img {
  margin: 0 auto;
}
#icon {
  max-width: 200px;
  margin: 1% auto;
}
.pathinfo {
  color: black;
  cursor:pointer;
  margin-bottom: 10px;
}
.social {
  font-size: 500%;
}
.social a {
  padding: 3%;
  color: #fff;
}
.social a:hover {
  color: #d5d5d5;
}
#explore {
  padding-top: 60px;
}
#home {
  padding: 70px 0;
  background-color: #1fb8eb;
}
#features {
  padding: 70px 0 50px;
  background-color: #ff9800;
}
#aboutus {
  padding: 0 0 12%;
  background-color: #673ab7;
}
.row {
  margin: 0;
}
@media(max-width: 768px) {
  h1 {
    font-size: 170%;
  }
  h2 {
    font-size: 160%;
  }
  h3 {
    font-size: 120%;
    max-width: 90%;
  }
  p {
    padding-top: 3%;
    font-size: 100%;
  }
  img#code {
    max-width: 160px;
  }
  .col-sm-4 #icon {
    max-width: 110px;
  }
  .social {
    font-size: 200%;
  }
}
