#map {
  height: 400px;
  width: 100%;
}
#mapFull {
  height: 100%;
  width: 100%;
}
/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
.delete-menu {
  position: absolute;
  background: white;
  padding: 3px;
  color: #666;
  font-weight: bold;
  border: 1px solid #999;
  font-family: sans-serif;
  font-size: 12px;
  box-shadow: 1px 3px 3px rgba(0, 0, 0, .3);
  margin-top: -10px;
  margin-left: 10px;
  cursor: pointer;
}
.delete-menu:hover {
  background: #eee;
}

#floating-navbar {
  position: absolute;
  display: flex;
  flex-direction: column;
  right: 0;
  margin: 20px;
  z-index: 1;
  font-size: 48px;
}

#floating-navbar button{
  font-size: 48px;
}

.goy-box{
  position: absolute;
  z-index: 2;
  right: 0;
  height: 100%;
  background: #eee;
}
